html, body {
  margin: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  -webkit-print-color-adjust: exact;
  box-sizing: border-box;
}

main {
  display: -webkit-flex;
  width: 100%;
  height: 100%;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  padding-top: 9.5mm;
}

h1, h2 {
  font-family: "Bree Serif", serif;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0 0 0 1.75mm;
}

h1 {
  font-size: 5mm;
  font-weight: 600;
}

h2 {
  font-size: 3.5mm;
  font-weight: 600;
}
