<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="./style.css" rel="stylesheet">
</head>
<body>
<main>
  <h1>{{firstname}}</h1>
  <h2>{{lastname}}</h2>
</main>
</body>
</html>
